h1 {
    font-family: 'Bebas Neue', cursive;
    text-shadow: none;
    text-align: center;
    color: #6e1423;
}
h2 {
    font-family: 'Bebas Neue', cursive;
    text-align: left;
    color: #85182a;
}
p {
    font-family: 'Comfortaa', cursive;
    text-transform: none;
    text-indent: 20px;
    color: black;
    line-height: 100%;
}
body {
    background-image: url(img/bg.png);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}
div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}
ul li {
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}
label {
    font-family: 'Comfortaa', cursive;
    color: black;
    padding-left: 10px;
}
form {
    font-family: 'Comfortaa', cursive;
    text-align: center;
}
details {
    margin-left: 20px;
}
.div-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    padding:1px 24px 1px;
    margin: auto;
    vertical-align: middle;
    background-color: white;
}
.divisoria {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    padding:1px 24px 1px;
    margin: auto;
    background-color: #85182a;
}
.div-corpo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    padding: 1px 24px 1px;
    margin: auto;
    vertical-align: middle;
    background-color: white;
}
a{
    font-family: 'Comfortaa', cursive;
}
a:link {
    text-decoration:none;
    color: #85182a;
}
a:visited {
    text-decoration: none;
    color: #6e1423;
}
a:hover {
    text-decoration: none;
    color: #2b0000
}
a:active {
    text-decoration: none;
}
.menu {
    display:flex;
    align-items: center;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
}
.text-cent {
    text-align: center;
    font-style: oblique;
    font-stretch: extra-expanded;
    font-variant: small-caps;
    font-size: medium;
    color: black;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}